.shelf {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.book-hover-space {
    z-index: 0;
    position: relative;
    width: 100px;
    height: 100px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: z-index 0.5s;
    -moz-transition: z-index 0.5s;
    -o-transition: z-index 0.5s;
    transition: z-index 0.5s;
}

.book-hover-space:hover .book {
    -webkit-transform: translateY(50px) rotateX(-80deg);
    -moz-transform: translateY(50px) rotateX(-80deg);
    -ms-transform: translateY(50px) rotateX(-80deg);
    -o-transform: translateY(50px) rotateX(-80deg);
    transform: translateY(50px) rotateX(-80deg);
}

.book-hover-space:hover {
    z-index: 1;
}

.book {
    user-select: none;
    position: absolute;
    width: 200px;
    transform-style: preserve-3d;
    transform: rotateY(60deg) rotateX(-20deg) rotateZ(-5deg) translateY(60px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.top {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: rotateX(90deg) translateZ(50px);
    z-index: 1;
}

.bottom, .left, .right {
    width: 100px;
    height: 30px;
}

.bottom {
    position: absolute;
    z-index: 1;
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
}

.left {
    position: absolute;
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    -moz-transform: rotateY(-90deg) translateZ(50px);
    -ms-transform: rotateY(-90deg) translateZ(50px);
    -o-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
}

.right {
    position: absolute;
    -webkit-transform: rotateY(90deg) translateZ(50px);
    -moz-transform: rotateY(90deg) translateZ(50px);
    -ms-transform: rotateY(90deg) translateZ(50px);
    -o-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
}

.top img {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.yellow .top {
    background-color: yellow;
}

.yellow .bottom, .yellow .left, .yellow .right {
    background-color: #a7a700;
}

.red .top {
    background-color: red;
}

.red .bottom, .red .left, .red .right {
    background-color: #8c0000;
}

.blue .top {
     background-color: blue;
}

.blue .bottom, .blue .left, .blue .right {
    background-color: #00009c;
}

.green .top {
    background-color: #00e200;
}

.green .bottom, .green .left, .green .right {
    background-color: #00a600;
}

.black .top {
    background-color: #343434;
}

.black .bottom, .black .left, .black .right {
    background-color: black;
}